{{!-- <div class="backgound-image-container position-relative"><img id="background-image" class="img-fluid"
    src="./css/images/seats.jpg" alt="empty movie theater seats" srcset="">
  <header class="container pt-2 pb-3 text-center" id="title">
    <h1>Popcorn Pal</h1>
  </header>
  <div class="box" style="background-color:black;"></div>
  <div class="box-two" style="background-color: black;"></div>
</div> --}}


<main class="backgound-image-container position-absolute"><img id="background-image" class="img-fluid"
    src="./css/images/seats.jpg" alt="movie theater seats" srcset="">
  {{!-- <img src={{url}}> --}}
  <div class="what-to-eat-div what-to-eat-sm position-absolute top-50 start-50 translate-middle">
    <h1 id="title">Popcorn Pal</h1>

    <button type="button" id="start" class="btn btn-secondary btn-lg position-absolute top-50 start-50"><a
        href="/theaters" style="text-decoration:none">Start</a></button>

    <a href="/theaters"><button type="button" class="btn btn-secondary btn-lg d-flex justify-content-center">Find
        Theaters</button></a>

    {{!-- <img src="{{url}}"> --}}
  </div>
  {{!-- <div class="col-md-12 text-center">
  </div> --}}
  <div class="box" style="background-color:black;"></div>
  <div class="box-two" style="background-color: black;"></div>


  <script src="/public/js/start.js"></script>
  <script src="/js/review.js"></script>
  <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
</main>